<!DOCTYPE html>
<html>
<head>
    <title>Client Home</title>
</head>
<body>

    <h1>Client Dashboard</h1>

    <h3>Request a Service</h3>

    <form action="/request-service" method="POST">

        <select name="service_name" required>

            <option value="Plumber">Plumber</option>

            <option value="Electrician">Electrician</option>

            <option value="Painter">Painter</option>

            <option value="Cleaner">Cleaner</option>

            <option value="Carpenter">Carpenter</option>

            <option value="Driver">Driver</option>

        </select>

        <br><br>

        <button type="submit">
            Request Service
        </button>

    </form>

</body>
</html>