<!DOCTYPE html>
<html>
<head>
  <title>Signup Options</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="container">
    <div class="form-box">
      <h2>Signup Options</h2>
      <p>Choose account type</p>

      <button onclick="window.location.href='/client-signup'">Client Signup</button>
      <button onclick="window.location.href='/employee-signup'">Employee Signup</button>

      <button class="secondary" onclick="window.location.href='/'">Back to Home</button>
    </div>
  </div>

</body>
</html>